build/
vc14/
tfs
cmake/
backups/
*.dll
START.bat
START.lnk
theforgottenserver-AVX512.pdb
theforgottenserver-AVX512.exe
config.lua
backup.sh
*.log
/vcpkg_installed
/vc17/Debug
tfs.exe
tfs.pdb
/vc17/Release
